<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css>
    <link rel="stylesheet" href="../styles/style.css">

</head>

<body>
    <header class="site-header">
        <!--Inicio contenedor padre-->
        <div class="container">
            <!--Inicio contenedor hijo-->
            <div class="contenedor_logo">
                <a href="./index.html"><img src="../Camila Lonero - Comision 48330/public/Logo1.png" alt="" alt="logo de la empresa"></a>
            </div>

           <nav  class="contenedor-nav">
            
                <ul class="navegacion">
                    <li class="navflex_item1"> <a href="./index.html">Inicio</a></li>
                    <li class="navFlex__item2"> <a href="../Camila Lonero - Comision 48330/views/tienda.html">Tienda</a></li>
                    <li class="navFlex__item3"><a href="../Camila Lonero - Comision 48330/views/primavera-verano.html">Coleccion</a></li>
                    <li class="navFlex__item4"><a href="../Camila Lonero - Comision 48330/views/empresa.html">Empresa</a></li>
                    <li class="navFlex__item5"><a href="../Camila Lonero - Comision 48330/views/">Contacto</a></li>
                </ul>
            </div>
            </nav>

    </header>

    <main div class="carrito">

        <h2>ENVÍOS / RETIRO SUCURSAL</h2>
       
        <form>
            <div class="carrito">
            <label for="Envio">Envio a domicilio:$690</label>
            <input type="radio" radio="renvioadomicilio" id="Id_envioadomicilio">
            <br>
            <label for="id_retiroenlasucursal">Retiro en la sucursal más cercana: $560</label>
            <input type="radio" radio="retirarenlasucursal" id="id_retiroenlasucursal">
            <br>
            <label for="Envio">Retirar en el local</label>
            <input type="radio" radio="retirarenellocal" id="Id_retirarenellocal">
            <br>
        </form>
        <P>TOTAL $</p>

        <p>*Posibilidad de pago en 3 cuotas sin interés</p>


        <h2>Pagá con tarjetas de crédito o débito</h2>
        <p> COMPLETÁ LOS DATOS DE TU TARJETA </p>
        <div>
            Número de tarjeta
            <br> <input type="number" required="númerodelatarjeta">
        </div>
        
        <div>
            Nombre del titular como aparece en la tarjeta
            <br> <input type="text" required="Nombredeltitular">
        </div>
        
        <div>
            Vencimiento
            <br> <input type="date" required="Vencimiento">
        </div>
        
        <div>
            Código de seguridad
            <br> <input type="number" required="Códigodeseguridad">
        </div>

        <br>
        <p>Tus datos personales serán usados para procesar tu orden.</p>

        <label for="aceptoterminos">Acepto términos y condiciones de la web</label>
        <input type="radio" radio="aceptoterminos" id="Id_aceptoterminos">
        
        <a class="finalizarcompra" href="../index.html"> * Finalizar compra</a>
        

        <h4>¡GRACIAS POR TU COMPRA!</h4>
   

    </main>

    <footer class=text-center>

       
        <div class="empresa_politicas">
            <a class="empresa.html" href="empresa.html">EMPRESA</a>
            <a class="preguntasfrecuentes.html" href="preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>
            <a class="politicasdeprivacidad.html" href="politicasdeprivacidad.html">POLÍTICAS DE PRIVACIDAD</a>
            <br>
            <br>
            <div class="redes_sociales">
                <i class="fa-brands fa-whatsapp fa-2x"></i>
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </div>
            <br>
            &copy;2012 Luna Store. Todos los derechos reservados.

    </footer>
</body>

</html>