<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="suscribite, telefonos, horarios">
    <meta name="description" content="Envío gratis en compras superiores a $15000. Ingresa a nuestra web y conocé la colección. Comprá y Recibí en Casa o Retirá en la sucursal. Tipos: Vestidos, Remeras y Tops, Conjuntos, Sandalias, Accesorios" >
    <title>Contacto Luna Store</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css>
    <!--ESTILOCSS-->
    <link rel="stylesheet" href="../styles/style.css">
    <!--FAVICON-->
    <link rel="icon" href="../public/logofavicon.ico">
</head>

<body>
    
    <header class="site-header">
        <!--Inicio contenedor padre-->
        <div class="container">
            <!--Inicio contenedor hijo-->
            <div class="contenedor_logo">
                <a href="../index.html"><img src="../public/logo.png" alt="logo empresa"></a>
            </div>

           <nav  class="contenedor-nav">
            
                <ul class="navegacion">
                    <li class="navflex_item1"> <a href="../index.html">Inicio</a></li>
                    <li class="navFlex__item2"> <a href="../views/tienda.html">Tienda</a></li>
                    <li class="navFlex__item3"><a href="../views/coleccion.html">Coleccion</a></li>
                    <li class="navFlex__item4"><a href="../views/empresa.html">Empresa</a></li>
                    <li class="navFlex__item5"><a href="../views/contacto.html">Contacto</a></li>
                    
                </ul>
           
            </nav>

        </header>

        <main>

            <section>
                <div class="titulo">
                <h1>CONTACTO</h1>
            </div>
                <div class="parrafoContacto">
                <p>Llamanos al: 7756-0324 de Lunes a Viernes de 10:00 a 17:00hs / Escribinos todos los días por Whatsapp:

                08:00 a 17:00hs Venta Online 1144325678

                Venta Mayorista 1153474024</p>
            </div>
            </section>
            <section>
                <div class="titulo">
                <h2> SUSCRIBITE PARA MÁS INFO! </h2>
            </div>

                <form>
                    <div class="formulario">
                        Nombre de usuario
                         <input type="text" required="Nombre de usuario">
                    </div>

                    <div class="formulario">
                        Contraseña
                        
                        <input type="text" required="Contraseña">
                    </div>

                    <div class="formulario">
                        Email
                        <input type="Email" required="@">

                    </div>

                    <div class="formulario">
                        Domicilio
                        
                        <input type="text" required="Domicilio">
                    </div>

                    <div class="formulario">
                        Código postal
                         <input type="number" required="number">
                    </div>
                
                    <div class="formulario">
                        <input type="submit" value="Registrarme">
                        <input type="reset" value="Borrar datos">
                    </div>
                    
            </section>
    
        </main>
        <footer class=text-center>
            <div class="empresa_politicas">
                <a class="preguntasfrecuentes.html" href="preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>
             
                <div class="redes_sociales">
                    <i class="fa-brands fa-whatsapp fa-2x"></i>
                    <i class="fa-brands fa-facebook fa-2x"></i>
                    <i class="fa-brands fa-instagram fa-2x"></i>
                </div>
              
                &copy;2012 Luna Store. Todos los derechos reservados.

        </footer>
</body>

</html>