<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de empresa</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css>
    <link rel="stylesheet" href="../styles/style.css">

</head>

<body>
    
    <header class="site-header">
        <!--Inicio contenedor padre-->
        <div class="container">
            <!--Inicio contenedor hijo-->
            <div class="contenedor_logo">
                <a href="../index.html"><img src="../public/logo.png" alt=""  alt="logo de la empresa"></a>
            </div>

           <nav  class="contenedor-nav">
            
                <ul class="navegacion">
                    <li class="navflex_item1"> <a href="../index.html">Inicio</a></li>
                    <li class="navFlex__item2"> <a href="../views/tienda.html">Tienda</a></li>
                    <li class="navFlex__item3"><a href="../views/primavera-verano.html">Coleccion</a></li>
                    <li class="navFlex__item4"><a href="../views/empresa.html">Empresa</a></li>
                    <li class="navFlex__item5"><a href="../views/contacto.html">Contacto</a></li>
                    
                </ul>
            </div>
            </nav>


    </header>

    <main>
        <h1>HOLA, ¿CÓMO ESTÁS?</h1>
        <img src="../public/banner1.png" width="1335" height="900">

        <div class="tituloEmpresa">
        <h2 >Luna Store EMPRESA</h2>
      </div>
      
        <div class="parrafoEmpresa">
        <p> Somos Luna Store y somos una marca de ropa de mujer, nacida en Buenos Aires hace 10 años.
            En pocas palabras, nos encanta hacer ropa cómoda, versátil y con los toques justos de lo que se usa.
            Amamos los básicos, los jeans, las estampas personalizadas, los colores y todo aquello que te permita sacar
            tu mejor versión.
            Hacemos prendas para todos los estilos. Pensadas para vos, porque sabemos que no hay nadie más
            experto en nuestra ropa, que nuestras clientas.
            Con más de 5 tiendas en Buenos Aires, ubicadas en los centros comerciales más importantes, y con nuestra
            tienda online,
            llegamos a muchas mujeres.
            Actualmente queremos invitarlas a conocer nuestra tienda Online que al igual que los locales
            se destaca por un diseño con muchas personalidad e identidad, en donde vas a poder vivir nuestra experiencia
            LUNA STORE,
            y descubrir nuestras colecciones.
            
            ¡Te esperamos!
            
        </p>
    </div>
    </main>

    <footer class=text-center>

        <div class="empresa_politicas">
            <a class="preguntasfrecuentes.html" href="preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>
            
            
            <div class="redes_sociales">
                <i class="fa-brands fa-whatsapp fa-2x"></i>
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </div>
            
            &copy;2012 Luna Store. Todos los derechos reservados.

    </footer>

</body>

</html>