<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PREGUNTAS-FRECUENTES</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet"  href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css>
    <link rel="stylesheet" href="../styles/style.css">

</head>
<body>

    <header class="site-header">
        <!--Inicio contenedor padre-->
        <div class="container">
            <!--Inicio contenedor hijo-->
            <div class="contenedor_logo">
                <a href="../index.html"><img src="../public/Logo1.png" alt="" alt="logo de la empresa"></a>
            </div>

           <nav  class="contenedor-nav">
            
                <ul class="navegacion">
                    <li class="navflex_item1"> <a href="../index.html">Inicio</a></li>
                    <li class="navFlex__item2"> <a href="../views/tienda.html">Tienda</a></li>
                    <li class="navFlex__item3"><a href="../views/primavera-verano.html">Coleccion</a></li>
                    <li class="navFlex__item4"><a href="../views/empresa.html">Empresa</a></li>
                    <li class="navFlex__item5"><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </div>
            </nav>

        </header>
        <main>

    <div class="preguntasFrecuentes">

        <H1>PREGUNTAS FRECUENTES</H1>
        
        <img src="../public/banner1.png" width="1300" height="900">


    
    <OL div class="lista">
        <li> ¿Tengo que registrarme antes de comprar?<br>
            Si, podés hacerlo ingresando haciendo <a href="register.html">click aquí.</a></li>
            <br>

        <li> ¿Cuál es el costo del envío?<br>
            Si retiras tu compra en sucursal de Luna Store NO tiene gasto de envío para todos los importes...
            <br>
            Retiro en la sucursal del correo más cercana: $560
            <br>
            Para costo de envio a domicilio, verificar valor de acuerdo al Código Postal. 
            <br>
            Cambios o Devoluciones: los gastos de envío, ida y vuelta, quedan a cargo del cliente. 
            
        </li>
        <br>

        <li> ¿Cuál es la demora del envío?<br>
            El proceso de preparación y despacho de la compra tiene un lapso de hasta tres (3) días hábiles.
            <br>
            Una vez despachado, el envío puede demorar:
            <br>
            CABA y AMBA hasta 2 días*
            <br>
            Ciudades Capitales hasta 4 días*
            <br>
            Tierra del Fuego hasta 20 días*
            <br>
            Resto del país hasta 8 días*
            <br>
            *días hábiles desde el momento del 
            
        </li>
        <br>
        <li>¿Cuáles son las formas de pago disponibles?<br>
            Podés optar pagar con:
            <br>
            Tarjeta de crédito / débito - a través del <a href="carrito.html"> Carrito de compras</a></li>
        <br>

        <li> ¿Quién puede recibir mi pedido?<br>
            Cualquier persona en el domicilio de entregar, mayor de 18 años podrá recibir tu compra. </li>
        <br>
        <li> ¿Dónde encuentro el código de seguridad, al abonar con tarjeta de crédito/débito?<br>
            El código de seguridad se encuentra en el dorso de la tarjeta.<br>
            Son 3 (tres) dígitos expresados en números adicionales que siguen el<br>
            número de la tarjeta de crédito/débito; a excepción de American Express,<br>
            que posee 4 (cuatro) dígitos y está en el frente de dicha tarjeta.<br>
            El mismo es utilizado para verificar que el comprador sea el propietario de la misma.   </li>
            <br>
        
    </OL>
</main>

    <footer class=text-center>

    
        <div class="empresa_politicas">
            
            <a class="preguntasfrecuentes.html" href="../views/preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>
            
            <div class="redes_sociales">
                <i class="fa-brands fa-whatsapp fa-2x"></i>
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </div>
            <br>
            &copy;2012 Luna Store. Todos los derechos reservados.

    </footer>
    
</body>
</html>