<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PREGUNTAS-FRECUENTES</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css>
    <!--Google fonts-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../styles/style.css">

</head>

<body>

    <header class="site-header">
        <!--Inicio contenedor padre-->
        <div class="container">
            <!--Inicio contenedor hijo-->
            <div class="contenedor_logo">
                <a href="../index.html"><img src="../public/logo.png" alt="" ></a>
            </div>

            <nav class="contenedor-nav">

                <ul class="navegacion">
                    <li class="navflex_item1"> <a href="../index.html">Inicio</a></li>
                    <li class="navFlex__item2"> <a href="../views/tienda.html">Tienda</a></li>
                    <li class="navFlex__item3"><a href="../views/primavera-verano.html">Coleccion</a></li>
                    <li class="navFlex__item4"><a href="../views/empresa.html">Empresa</a></li>
                    <li class="navFlex__item5"><a href="../views/contacto.html">Contacto</a></li>
                </ul>
       
            </nav>

    </header>
    <main>

        <div class="preguntasFrecuentes">

            <H1>PREGUNTAS FRECUENTES</H1>

            <img src="../public/banner1.png" alt="" width="1300" height="900">



            <ol div class="lista">
                <li>
                    <p>¿Tengo que registrarme antes de comprar? </p>
                    <p>Si, podés hacerlo ingresando haciendo <a href="register.html">click aquí.</a>
                </li>
                </p>


                <li>
                    <p> ¿Cuál es el costo del envío?</p>
                    <p> Si retiras tu compra en sucursal de Luna Store NO tiene gasto de envío para todos los
                        importes...</p>

                    <p>Retiro en la sucursal del correo más cercana: $560</p>

                    <p>Para costo de envio a domicilio, verificar valor de acuerdo al Código Postal. </p>

                    <p> Cambios o Devoluciones: los gastos de envío, ida y vuelta, quedan a cargo del cliente. </p>

                </li>


                <li> ¿Cuál es la demora del envío?<br>
                    <p>El proceso de preparación y despacho de la compra tiene un lapso de hasta tres (3) días hábiles.
                    </p>

                    <p>Una vez despachado, el envío puede demorar:</p>

                    <p> CABA y AMBA hasta 2 días*</p>

                    <p>Ciudades Capitales hasta 4 días*</p>

                    <p>Tierra del Fuego hasta 20 días*</p>

                    <p>Resto del país hasta 8 días*</p>

                    <p> *días hábiles desde el momento de la compra</p>

                </li>

                <li>
                    <p>¿Cuáles son las formas de pago disponibles?</p>
                    <p>Podés optar pagar con:</p>

                    <p> Tarjeta de crédito / débito - a través del <a href="carrito.html"> Carrito de compras</a></p>
                </li>


                <li>
                    <p> ¿Quién puede recibir mi pedido?</p>
                    <p>Cualquier persona en el domicilio de entregar, mayor de 18 años podrá recibir tu compra. </p>
                </li>

                <li>
                    <p>¿Dónde encuentro el código de seguridad, al abonar con tarjeta de crédito/débito?</p>
                    <p>El código de seguridad se encuentra en el dorso de la tarjeta.</p>
                    <p> Son 3 (tres) dígitos expresados en números adicionales que siguen el</p>
                    <p> número de la tarjeta de crédito/débito; a excepción de American Express,</p>
                    <p> que posee 4 (cuatro) dígitos y está en el frente de dicha tarjeta.</p>
                    <p> El mismo es utilizado para verificar que el comprador sea el propietario de la misma. </p>
                </li>

            </ol>
    </main>

    <footer class=text-center>


        <div class="empresa_politicas">

            <a class="preguntasfrecuentes.html" href="../views/preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>

            <div class="redes_sociales">
                <i class="fa-brands fa-whatsapp fa-2x"></i>
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </div>
            
            &copy;2012 Luna Store. Todos los derechos reservados.

    </footer>
    
     <!--Cdn bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>

</body>

</html>