<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coleccion primavera - verano</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css>
    <link rel="stylesheet" href="../styles/style.css">

</head>

<body div class="body-primaveraverano">
    <div class="gridContainer">
    <header class="site-header">
        <!--Inicio contenedor padre-->
        <div class="container">
            <!--Inicio contenedor hijo-->
            <div class="contenedor_logo">
                <a href="../index.html"><img src="../public/logo.png"  alt=""></a>
            </div>

            <nav class="contenedor-nav">

                <ul class="navegacion">
                    <li class="navflex_item1"> <a href="../index.html">Inicio</a></li>
                    <li class="navFlex__item2"> <a href="../views/tienda.html">Tienda</a></li>
                    <li class="navFlex__item3"><a href="../views/primavera-verano.html">Coleccion</a></li>
                    <li class="navFlex__item4"><a href="../views/empresa.html">Empresa</a></li>
                    <li class="navFlex__item5"><a href="../views/contacto.html">Contacto</a></li>
                </ul>
        </div>
        </nav>

    </header>
    <main>
        <H1>COLECCION PRIMAVERA-VERANO</H1>
        <h2> <div class="ComprasCarrito">
            <P>¿QUERÉS COMPRAR? <a href="../views/carrito.html"> CLICK ACÁ</a></P>
        </div>
        </h2>

        <section class="galeria">
            

            <div class="nueva-temporada">
                <div class="box">
                <img class="img1" src="../public/pollera.png" alt="polleras">
                <span>Polleras</span>
                 </div>

                <div class="box">
                <img src="../public/conjunto-amelie-card.png" alt="urbans">
                <span>Urban</span>
                </div>

                <div class="box">
                <img src="../public/jean.png" alt="jean" >
                <span>Remeras</span>
                 </div>

                <div class="box">
                <img src="../public/jeans.png" alt="jeans">
                <span>Jeans</span>
                </div>

                <div class="box">
                <img src="../public/vestido.png" alt="vestido">
                <span>Fiesta</span>
                </div>

                <div class="box">
                <img src="../public/vestido-lore-card.png" alt="vestidolore">
                <span>Soleros</span>
                </div>

                
            </div>
     
        
        </section>


        </div>
    </main>

    <footer class=text-center>

        <div class="empresa_politicas">
        
            <a class="preguntasfrecuentes.html" href="../views/preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>
        
            <br>
            <br>
            <div class="redes_sociales">
                <i class="fa-brands fa-whatsapp fa-2x"></i>
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </div>
            
            &copy;2012 Luna Store. Todos los derechos reservados.

    </footer>
    </div>
</body>

</html>