<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="carrito, galeria, jeans, urban">
    <meta name="description"
        content="Envío gratis en compras superiores a $15000. Ingresa a nuestra web y conocé la colección. Comprá y Recibí en Casa o Retirá en la sucursal. Tipos: Vestidos, Remeras y Tops, Conjuntos, Sandalias, Accesorios">
    <title>Ingresos Luna Store</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css>
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../styles/style.css">


</head>

<body div class="body-primaveraverano">
    <div class="gridContainer">
        <header class="site-header">
            <!--Inicio contenedor padre-->
            <div class="container">
                <!--Inicio contenedor hijo-->
                <div class="contenedor_logo">
                    <a href="../index.html"><img src="../public/logo.png" alt="logo empresa"></a>
                </div>

                <nav class="contenedor-nav">

                    <ul class="navegacion">
                        <li class="navflex_item1"> <a href="../index.html">Inicio</a></li>
                        <li class="navFlex__item2"> <a href="../views/tienda.html">Tienda</a></li>
                        <li class="navFlex__item3"><a href="../views/primavera-verano.html">Coleccion</a></li>
                        <li class="navFlex__item4"><a href="../views/empresa.html">Empresa</a></li>
                        <li class="navFlex__item5"><a href="../views/contacto.html">Contacto</a></li>
                    </ul>
                </nav>

        </header>
        <main>
            <h1>INGRESOS PRIMAVERA-VERANO</h1>
            <h2>
                <div class="ComprasCarrito">
                    <P>¿QUERÉS COMPRAR? <a href="../views/carrito.html"> CLICK ACÁ</a></P>
                </div>
            </h2>

            <section class="galeria">

                <div class="container">
                    <div class="nueva-temporada">
                        <div class="box">
                            <img class="img1" src="../public/pollera.png" alt="polleras"  class="imagen-temporada" >
                            <span>Polleras</span>
                        </div>

                        <div class="box">
                            <img src="../public/conjunto-amelie-card.png" alt="urbans" class="imagen-temporada">
                            <span>Urban</span>
                        </div>

                        <div class="box">
                            <img src="../public/jean.png" alt="jean" class="imagen-temporada">
                            <span>Remeras</span>
                        </div>

                        <div class="box">
                            <img src="../public/jeans.png" alt="jeans" class="imagen-temporada">
                            <span>Jeans</span>
                        </div>

                        <div class="box">
                            <img src="../public/vestido.png" alt="vestido" class="imagen-temporada">
                            <span>Fiesta</span>
                        </div>

                        <div class="box">
                            <img src="../public/vestido-lore-card.png" alt="vestidolore" class="imagen-temporada">
                            <span>Soleros</span>
                        </div>

                    </div>
                </div>


            </section>


    </div>
    </main>

    <footer class=text-center>

        <div class="empresa_politicas">

            <a class="preguntasfrecuentes.html" href="../views/preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>

            <br>
            <br>
            <div class="redes_sociales">
                <i class="fa-brands fa-whatsapp fa-2x"></i>
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </div>

            &copy;2012 Luna Store. Todos los derechos reservados.

    </footer>


    <!--Cdn bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>