<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luna Store</title>
    <!--FONTAWESOME-->
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css>
    <!--ESTILOCSS-->
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <header class="site-header">
        <!--Inicio contenedor padre-->
        <div class="container">
            <!--Inicio contenedor hijo-->
            <div class="contenedor_logo">
                <a href="../index.html"><img src="../public/Logo1.png" alt="" alt="logo de la empresa"></a>
            </div>

           <nav  class="contenedor-nav">
            
                <ul class="navegacion">
                    <li class="navflex_item1"> <a href="../index.html">Inicio</a></li>
                    <li class="navFlex__item2"> <a href="../views/tienda.html">Tienda</a></li>
                    <li class="navFlex__item3"><a href="../views/primavera-verano.html">Coleccion</a></li>
                    <li class="navFlex__item4"><a href="../views/empresa.html">Empresa</a></li>
                    <li class="navFlex__item5"><a href="../views/contacto.html">Contacto</a></li>
                    
                </ul>
            </div>
            </nav>
    </header>

    <main>


        <h1 class="text-center">¡FESTEJEMOS JUNTOS! 12 CUOTAS SIN INTERÉS*</h1>
        <a title="COMPRAR" href="../views/primavera-verano.html"><img src="../public/city_urban.png" alt="Comprar" width="100%" height="auto"> </a>


    </main>
    <aside>
        
        <div class="contenedor">
            <div class="publicidad">
            <img src="../public/JEANS-miri-card.png" alt="">
            </div>
            
            <div class="publicidad">
            <img src="../public/REMERA-fran-card.png" alt="">
             </div>

            <div class="publicidad">
            <img src="../public/Tunica-alice-cardVESTIDOS.png" alt="">
            </div>


            <div class="publicidad">
            <img src="../public/urban.png" alt="">
        </div>
        </div>
    </aside>

    <footer class=text-center>

        <div class="empresa_politicas">
        
            <a class="preguntasfrecuentes.html" href="../views/preguntasfrecuentes.html">PREGUNTAS FRECUENTES</a>
        
            <br>
            <br>
            <div class="redes_sociales">
                <i class="fa-brands fa-whatsapp fa-2x"></i>
                <i class="fa-brands fa-facebook fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
            </div>
            <br>
            &copy;2012 Luna Store. Todos los derechos reservados.

    </footer>

</body>

</html>
