/*----FOOTER---*/

.footer {
    text-align: center;
    clear: both;
    background-color: rgb(10, 10, 10);

    &_empresa_politicas {
        background-color: rgb(199, 187, 17);
        text-align: center;
    }

    &_redes_sociales {
        background-color: rgb(199, 187, 17);
        text-align: center;
    }
      

}
